<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<select id="memberList" resultType="com.corock.spring01.model.dto.MemberDTO">
		SELECT * FROM Member
		ORDER BY name
	</select>
	
	<insert id="insertMember">
		INSERT INTO Member (userid, passwd, name, email)
		VALUES (#{userid}, #{passwd}, #{name}, #{email})
	</insert>
	
	<select id="viewMember" resultType="memberDto">
		SELECT * FROM Member
		WHERE userid = #{userid}
	</select>
	
	<update id="updateMember">
		UPDATE Member
		SET passwd = #{passwd}, name = #{name}, email = #{email}
		WHERE userid = #{userid}
	</update>
	
	<!-- 비밀번호 체크 -->
	<select id="checkPw" resultType="int">
		SELECT COUNT(*) FROM Member
		WHERE userid = #{userid} AND passwd = ${passwd}
	</select>
	
	<delete id="deleteMember">
		DELETE FROM Member
		WHERE userid = #{userid}
	</delete>
	
</mapper>
